

		<div class="components">
			<div class="shell">
				<div class="components__row">
					<div class="dropdown">
						<a href="#">Color</a>

						<ul>
							<li>
								<a href="#">Red</a>
							</li>

							<li>
								<a href="#">Blue</a>
							</li>

							<li>
								<a href="#">Green</a>
							</li>
						</ul>
					</div><!-- /.dropdow -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="switch">
						<div class="checkbox">
							<input id="checkbox" type="checkbox">

							<label for="checkbox"></label>
						</div><!-- /.checkbox -->
					</div><!-- /.switch -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="radio">
						<input id="radio" type="radio" name="radio">

						<label for="radio"></label>
					</div><!-- /.radio -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="form__controls">
						<textarea class="field field--textarea"></textarea>
					</div><!-- /.form__controls -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="form__controls">
						<textarea class="field field--textarea field--textarea--small"></textarea>
					</div><!-- /.form__controls -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="panel">
						<div class="panel__head">
							<h5 class="panel__title">Confirm transaction</h5><!-- /.panel__title -->
						</div><!-- /.panel__head -->

						<div class="panel__body">
							<div class="panel__actions">
								<button type="button" class="btn-round">You Pressed Me</button>
							</div><!-- /.panel__actions -->
						</div><!-- /.panel__body -->
					</div><!-- /.panel -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="box">
						<div class="box__actions">
							<button type="button" class="btn-small">
								<img src="{{asset '/images/svg/arrow-big.svg'}}" alt="">
							</button>
						</div><!-- /.box__actions -->
					</div><!-- /.box -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="form__controls">
						<input type="text" class="field" placeholder="John Rupple">
					</div><!-- /.form__controls -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<a href="#" class="tag">
						project
					</a>
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="box-different">
						<div class="box__head">
							<h5 class="box__title">Peak Demand</h5><!-- /.box__title -->
						</div><!-- /.box__head -->

						<div class="box__counter">
							<p>88</p>
						</div><!-- /.box__counter -->

						<div class="box__body">
							<div class="box__bars">
								<div class="box__bar">
									<span style="height: 60px">
										<span></span>
									</span>

									<p>m</p>
								</div><!-- /.box__bar -->

								<div class="box__bar">
									<span style="height: 80px">
										<span></span>
									</span>

									<p>t</p>
								</div><!-- /.box__bar -->

								<div class="box__bar">
									<span style="height: 100px">
										<span></span>
									</span>

									<p>w</p>
								</div><!-- /.box__bar -->

								<div class="box__bar active">
									<span style="height: 140px">
										<span style="height: 100%"></span>
									</span>

									<p>t</p>
								</div><!-- /.box__bar -->

								<div class="box__bar">
									<span style="height: 130px">
										<span></span>
									</span>

									<p>f</p>
								</div><!-- /.box__bar -->

								<div class="box__bar active">
									<span style="height: 110px">
										<span style="height: 60%"></span>
									</span>

									<p>s</p>
								</div><!-- /.box__bar -->

								<div class="box__bar">
									<span style="height: 90px">
										<span></span>
									</span>

									<p>s</p>
								</div><!-- /.box__bar -->
							</div><!-- /.box__bars -->
						</div><!-- /.box__body -->
					</div><!-- /.box-different -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="range-slider js-range-slider"></div>
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="block">
						<div class="block__head">
							<p>Period:</p>
						</div><!-- /.block__head -->

						<div class="block__body">
							<p>Last 30 days</p>
						</div><!-- /.block__body -->

						<div class="block__actions">
							<a href="#" class="btn-small btn-small--alt">
								<img src="{{asset '/images/svg/arrow-grey.svg'}}" alt="">
							</a>
						</div><!-- /.block__actions -->
					</div><!-- /.block -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="radio-group">
						<div class="radio-alt">
							<input id="radio-1" type="radio" name="radio-1">

							<label for="radio-1">
								account
							</label>
						</div><!-- /.radio-alt -->

						<div class="radio-alt">
							<input id="radio-2" type="radio" name="radio-1" checked>

							<label for="radio-2">
								client
							</label>
						</div><!-- /.radio-alt -->
					</div><!-- /.radio-group -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="radio-group">
						<div class="radio-alt">
							<input id="radio-3" type="radio" name="radio-2" checked>

							<label for="radio-3">
								account
							</label>
						</div><!-- /.radio-alt -->

						<div class="radio-alt">
							<input id="radio-4" type="radio" name="radio-2">

							<label for="radio-4">
								client
							</label>
						</div><!-- /.radio-alt -->
					</div><!-- /.radio-group -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="checkbox-alt">
						<input type="checkbox" id="check-2">

						<label for="check-2"></label>
					</div><!-- /.checkbox-alt -->
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="range-slider-alt js-range-slider"></div>
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="range-slider-alt range-slider-alt--different js-range-slider"></div>
				</div><!-- /.components__row -->

				<div class="components__row">
					<div class="checkbox-different">
						<input type="checkbox" id="check-3">

						<label for="check-3">
							<span class="checkbox__container">
								<span class="checkbox__inner">
									<span></span>

									<span></span>

									<span></span>

									<span></span>
								</span>
							</span>
						</label>
					</div><!-- /.checbox-different -->
				</div><!-- /.components__row -->
			</div><!-- /.shell -->
		</div><!-- /.components -->