<div class="container-wide">
    <div class="row row-50 justify-content-sm-center">
        <div class="col-xxl-8">
            <div class="box-cta box-cta-inline">
                <div class="box-cta-inner">
                    <h3 class="box-cta-title">You like us.  We like you.</h3>
                    <p>By spending a little time communicating, we can actually see if this
                        is the beginning of a beautiful partnership.</p>
                </div>
                <div class="box-cta-inner"><a class="button button-primary button-small button-xs  button-nina" data-toggle="modal"
                    data-target="#show-modal-schedule">Schedule Consultation</a></div>
                <div class="gimme-some-room"></div>

            </div>
        </div>
    </div>
</div>