 <section id="blog" class="wrapper style2 posts">
                        <div class="inner">
                            <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="500" data-numposts="5"></div>
                            </div></section>