<div class="container container-wide">
    <div data-wow-delay=".8s" class="wow slideInRight row row-50 justify-content-md-center justify-content-xl-end justify-content-xxl-end">
        <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-5">
            <div class="box-range-content box-range-content-1">
                <p class="heading-5">You're ready to fight back.
                </p><br />
                <p class="heading-5">Because you deserve more.</p><br />

                <h4>And because <span class="highlight">your business deserves more.</span>

                </h4>
                <div class="divider house-gradient"></div>
                <p class="text-spacing-sm">You need a different style of attack. Something actually different.
                    You need a smart resource to call upon that will fight for your growth with all the passion,
                    investment, and enthusiasm that you have.</p><a class="button button-default button-nina" href=""
                    target="_blank">Let's Team Up</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-8 col-xl-6 jp-video-init">
            <div class="build-video">
                <!---->
                <div class="build-video-inner">
                    <div class="parallax-scene-js warrior-princess parallax-scene parallax-scene-image"
                        data-scalar-x="5" data-scalar-y="10">
                        <div class="warrior-princess-svg">
                            <div class="layer" data-depth="0.75"><img src="{{asset "images/warriorprincess.svg"}}"
                                    alt="" width="582" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>