<div class="container container-wide">
                {{> particles2}}


    <div class="row justify-content-sm-center">
            <h3>You're frustrated. <br />We can tell.</h3>
            <div class="divider house-gradient"></div>
            <p>Your marketing is either nonexistent or ineffective. Your sales team has no lead funnel to work. The
                whole thing is operating under a nonexistent brand. You just want to understand what's working and
                what's not before you dump a boatload of cash into yet another "good idea." We get that.</p>
            <div class="time-line-vertical">
                <div class="time-line-vertical-element time-line-vertical-element-offset">
                    <div class="unit unit-sm flex-column flex-md-row unit-spacing-xxl">
                        <div class="unit-left">
                            <div class="time-line-time">
                                <time class="wow fadeInLeft" data-wow-delay=".6s" datetime="2019">
                                    <h4 class="fifteen-pointer">You're cautious. And rightfully so.</h4>
                                </time>
                            </div>
                        </div>
                        <div class="unit-body">
                            <div class="time-line-content wow fadeInRight" data-wow-delay=".6s">
                                <img src="{{asset "images/elements/soldierstanding.svg"}}" alt="" width="270" />
                                <p>It's rough out there. Agencies promise the world and deliver with expensive retainers
                                    and broken dreams.
                                    <br /><br />
                                    <span class="highlight"> Marketing doesn't have to be that hard.</span>
                                    <br /><br />We're not like those other agencies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-line-vertical-element time-line-vertical-element-offset">
                    <div class="unit flex-column flex-md-row unit-spacing-xxl">
                        <div class="unit-left">
                            <div class="time-line-time">
                                <time class="wow fadeInLeft" data-wow-delay=".7s" datetime="2019">
                                    <h4 class="fifteen-pointer">Those people you've
                                        been hanging around are bad news.
                                    </h4>
                                </time>
                            </div>
                        </div>
                        <div class="unit-body">
                            <div class="time-line-content wow fadeInRight" data-wow-delay=".7s"><img
                                    src="{{asset "images/pirates.svg"}}" alt="" width="370" />
                                <p>We toiled at bad agencies and we worked with bad marketers. We even wrote a book on
                                    Bad Marketing. We got sick of everyone destroying the industries we love, strategy
                                    and marketing, so we started a marketing lab and idea tank focused on one thing:
                                    <br /><br />
                                    <span class="highlight">Doing what we love for companies that need what we do.</span>
                                    <br /><br /> Simple, really.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-line-vertical-element time-line-vertical-element-offset">
                    <div class="unit flex-column flex-md-row unit-spacing-xxl">
                        <div class="unit-left">
                            <div class="time-line-time">
                                <time class="wow fadeInLeft" data-wow-delay=".8s" datetime="2019">
                                    <h4 class="fifteen-pointer">You have a complicated offering that no one takes the
                                        time to learn.
                                    </h4>
                                </time>
                            </div>
                        </div>
                        <div class="unit-body">
                            <div class="time-line-content wow fadeInRight" data-wow-delay=".8s">
                                <img src="{{asset "images/elements/pissed.svg"}}" alt="" width="370" />
                                <p>Whether the market just doesn't "get" what you do or all the marketing people you
                                    have worked with before don't understand the first thing about your business, you
                                    are continuously disappointed. <br /><br />
                                    You just want people to invest in getting to know the
                                    intricacies of your offering. <span class="highlight">Marketing isn't your only responsibility</span>, after all.
                                    
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>