<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="lm-btn btn-small small page circlemesilly previous newer-posts" href="{{page_url prev}}">Newer Posts</a>
        {{/if}}
        <span class="page-number">Page {{page}} of {{pages}}</span>
        {{#if next}}
        <a class="btn secondary small btn-small page next older-posts lm-btn" href="{{page_url next}}">Older Posts</a>
        {{/if}}
    </nav>
</footer>