<!-- pagination section -->
<div class="pagination-section">
    <div class="newer-post">
        <a  href="{{page_url prev}}"><i class="neubtn fa fa-angle-double-left"></i><span class="hide">NEWER POSTS</span></a>
    </div>
    <div class="pagi-number">
        <span class="active">{{page}}</span>
        <span>/</span>
        <span>{{pages}}</span>
    </div>
    <div class="older-post">
        <a href="{{page_url next}}"><i class="neubtn fa fa-angle-double-right"></i><span class="hide">OLDER POSTS</span></a>
    </div>
</div>
<!-- /pagination section -->