<!-- ================== All News Area ======================= -->
<div class="all-news-sec section-padding">
    <div class="container">
        <div class="section-title">
            <h4>All News</h4>
        </div>
        <div class="all-news">
            <div class="row news-grid">
                <div class="col-md-6 grid-item"></div>
                {{#foreach posts visibility="all"}}
                    {{#is "home"}}
                        {{#has number="1"}}
                        {{> "post-card-full"}}
                        {{/has}}
                        {{^has number="1"}}
                        <div class="col-md-6 grid-item py-4">
                            {{> "post-card"}}
                        </div>
                        {{/has}}
                    {{/is}}
                    {{^is "home"}}
                    <div class="col-md-6 grid-item py-4">
                        {{> "post-card"}}
                    </div>
                    {{/is}}
                {{/foreach}}
            </div>
        </div>
        {{#if posts.length}}
        {{pagination}}
        {{/if}}
    </div>
</div>
<!-- ================== /All News Area ======================= -->