<div class="container-fluid products">
    <div class="row">
        <div class="col">
            <div class="row-title">Latest projects</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img1.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Lorem ipsum</div>
                        <div class="tags">#Branding</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img2.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Dolor sit amet</div>
                        <div class="tags">#Design</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img3.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Consectetur</div>
                        <div class="tags">#Branding #Design</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img4.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Adipiscing elit</div>
                        <div class="tags">#Design</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img5.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Sed do eiusmod</div>
                        <div class="tags">#Branding</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <a href="project.html">
                <div class="product-box">
                    <div class="img"><img src="images/img6.png" alt=""></div>
                    <div class="title-holder">
                        <div class="title">Tempor</div>
                        <div class="tags">#Printing</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="link-holder">
                <a class="btn-link" href="projects.html">More projects</a>
            </div>
        </div>
    </div>
</div>