<!-- RD Navbar Search-->
<div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"
        href="#"><span></span></a>
    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
        <div class="form-wrap">
            <div class="gcse-search"></div>
        </div>
    </form>