
<section id="sidebar">
                <div class="inner">
                    <div id="logofinal">   <img src="{{asset 'images/logo-white-horizontal-no-marketing.svg'}}" class="site-logo"></div>
                    <nav>
                        <ul>
                            <li><a href="#intro">A Strategy and Idea Lab</a></li>
                            <li><a href="#who">Who we are</a></li>
                            <li><a href="#what">What we do</a></li>
                                                                                    <li><a href="#contact">How to reach us</a></li>

                            <li><a href="#blog">Where we blog</a></li>

                        </ul>
                    </nav>
                </div>
            </section>			