<div class="container-wide">
    <div class="box-cta-thin">
        <p class="big"><span class="badge-cta badge-cta-primary">We <span class="fas fa-heart"></span> Free,
                Useful Content!</span><br /><br /><span class="gimme-some-room"> </span>Only our most useful
            templates, tips, sessions, hacks, and cheatsheets are
            worthy of your inbox.</span><br /><button class="button button-primary button-nina" type="button"
                data-toggle="modal" data-target="#show-modal">Subscribe to our newsletter!</button></p>
        <div class="gimme-some-room"></div>
    </div>
</div>