{{^if @member}}
<!-- subscribe section -->
<div class="subscribe-section">
    <div class="subscribe-text">
        <h2>WANT TO GET SOME MORE?</h2>
        <p>Send us your email address and we’ll send you great content!</p>
    </div>

 
    <div class="subscribe-form">
  <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://oakwave.us10.list-manage.com/subscribe/post?u=4d20763bf767bb97d48c86fdb&amp;id=87acb689c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email neumorphic" id="mce-EMAIL">

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4d20763bf767bb97d48c86fdb_87acb689c2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-danger"></div>
  
</form>
</div>

<!--End mc_embed_signup-->
       
               
    </div>
</div>
<!-- /subscribe section -->
{{/if}}