<div class="container-wide">
    <div class="row">
        <div class="col-sm-12">
            <h3>thoughts & resources</h3>
            <div class="divider house-gradient house-divider"></div>
            <div class="row row-50">
                {{#get "posts" limit="3"}}
                {{! Loop through our featured posts }}
                {{#foreach posts}}
                    <div class="col-md-4 col-xl-4">

                {{> "post-card"}}
                </div>
                {{else}}
                {{! If there are no featured posts}}
                <p>No posts!</p>
                {{/foreach}}
                {{else}}
                <p class="error">{{error}}</p>
                {{/get}}
            </div>
        </div>
    </div><a class="button button-default button-nina" href="{{site.url}}/blog">view all blog posts</a>
</div>