<section class="section section-lg bg-gray-darker">
    <div class="container container-bigger">
        <div class="row row-ten row-50 justify-content-sm-center justify-content-xl-between">
            <div class="col-sm-9 col-md-12 col-xl-6">
                <h3>our history</h3>
                <div class="divider divider-default"></div>
                <p class="text-gray-light">What started as a small team of web design enthusiasts eventually became a
                    huge
                    project evolving lots of experts in UX, design, and web development from all over the world. Here's
                    the
                    story of us and our product.</p>
                <div class="time-line-vertical inset-md">
                    <div class="time-line-vertical-element">
                        <div class="unit unit-sm flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".0s" datetime="2019"
                                        style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;">April,
                                        2019</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".6s"
                                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                                    <h5>We gathered the team of dedicated and knowledgeable web design specialists</h5>
                                    <p>Before we started working on Brave, we extended our team with young, talented,
                                        and promising
                                        experts in web design and development. It eventually allowed us to reach amazing
                                        results.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-line-vertical-element">
                        <div class="unit flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".1s" datetime="2019"
                                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">September,
                                        2019</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".7s"
                                    style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInRight;">
                                    <h5>Integration of new Bootstrap features</h5>
                                    <p>Today, Bootstrap is the most powerful frameworks for HTML. Our developers made
                                        every effort to make
                                        it even more useful to the customers by integrating new &amp; exclusive features
                                        into Brave.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-line-vertical-element">
                        <div class="unit flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".2s" datetime="2019"
                                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">March,
                                        2019</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".8s"
                                    style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInRight;">
                                    <h5>Our team starts to work on updates for Brave</h5>
                                    <p>Though our template has a lot to offer any customer, we are already working on
                                        several important
                                        improvements and updates to make Brave even better and easier to use.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-12 col-xl-3">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><img
                            src="images/about-us-2-420x280.jpg" alt="" width="420" height="280">
                    </div>
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><img
                            src="images/about-us-3-420x280.jpg" alt="" width="420" height="280">
                    </div>
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><img
                            src="images/about-us-4-420x280.jpg" alt="" width="420" height="280">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>