<div class="section-wave">
    <svg style="transform: scale(1, -1);" x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">

        <defs>
            <linearGradient id="Gradient1">
                <stop class="stop1" offset="0%" />
                <stop class="stop2" offset="100%" />
            </linearGradient>
            <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="#120a22" />
                <stop offset="95%" stop-color="#2e1a47" />
            </linearGradient>
            <style type="text/css">
                #wave4 {
                    fill: url(#Gradient1);
                }

                .stop1 {
                    stop-color: #120a22;
                }

                .stop2 {
                    stop-color: #2e1a47;
                }
            </style>
        </defs>
        <path id="wave4"
            d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
        </path>
    </svg>
</div>