  <section id="what" class="wrapper style2 fade-up">
                        <div class="inner">
                          {{>  whatwedo-list  }}
                          
                          
                                        </section>
                            </div>
                      <ul class="actions">
                                <li><a href="https://meetings.hubspot.com/oakwave/consultation" class="button">Let's figure it out.</a></li>
                            </ul> 
                        </div>
                    </section>