<!DOCTYPE html>
<html lang="{{@site.lang}}">
{{> head }}
<body class="is-preload">
    {{{body}}}
    {{> site-footer }}
    {{> email-subscribe}}
    {{> footer-scripts }}
    {{{block "scripts"}}}
    {{ghost_foot}}
</body>
</html>
