{{!< default}}
<div class="text-center section-padding">
    <div class="container">
        <div class="error">
            <img src="{{asset "img/404.png"}}" alt="404">
            <p>This is embrassing, We are sorry! We didn't find the page you are looking for :-(</p>
            <a href="{{@site.url}}" class="btn btn-danger mt-4">GO HOME</a>
        </div>
    </div>
</div>
