{{!< default}}
<div class="page">
    <!-- Page Header-->
    <header class="section page-header bg-gray-darker breadcrumbs-custom-wrap">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-default">
        {{"navigation"}}
    </div>
    </header>
    <section class="section fullwidth-page bg-gradient-3">
    <div class="fullwidth-page-inner">
        <div class="section-md text-center">
        <div class="container">
            <p class="breadcrumbs-custom-subtitle">Sorry, But the Page Was not Found</p>
            <p class="heading-1 breadcrumbs-custom-title">error 404</p>
            <p>You may have mistyped the address or the page may have moved.</p><a class="button button-secondary button-nina" href="index.html"> back to home page</a>
        </div>
        </div>
        <!-- Page Footer-->
        <div class="section-xs page-footer text-center">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Brave Theme</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
        </div>
        </div>
    </div>
    </section>
</div>
{{#contentFor "page-title"}}
    Not Found
{{/contentFor}}