{{!< default}}
{{#contentFor "page-title"}}
    Home
{{/contentFor}}
{{#contentFor "particles-option"}}
 
    {{/contentFor}}
{{#contentFor "header-class"}}
section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2
{{/contentFor}}
{{#contentFor "breadcrumbs-section"}}
    <section class="tall breadcrumbs-custom breadcrumbs-custom-lg breadcrumbs-custom-svg">
        <div class="container">
            <h1 class="front-and-center regular-case align-left fadeIn">Hi. We need to talk.</h1>
            <!--<h3 class="typed-text-wrap">It's about your&nbsp;<span class="typed-text"></span>.</h3>-->
            <h4 class="front-and-center alilspace xxl align-left">It's about your sales and marketing...</h4>
            <div style="z-index: 99;" class="front-and-center group-md button-group align-left"><a
                    class="button button-secondary button-nina" href="#welldoc" data-custom-scroll-to="#welldoc">Well, Doc, It Started Like This...</a></div>
            <div style="z-index: 999; position: absolute; top: 0; margin-top: -26px;" class="layer-shrink"><img
                    src="{{asset "images/shrink.svg"}}" alt="" width="1000" />
            </div>
    
        </div>
    </section>{{/contentFor}}



      
    <a id="welldoc" name="welldoc"></a>
    <section class="section section-lg bg-default text-center">
        {{> wave}}
        {{> journey}}
    </section>

    <!-- what we do-->
    <section class="section text-center section-lg bg-gradient bg-secondary-2">
    {{> wave}}

    {{> services-list}}
        <div class="gimme-some-room"></div>
        <div class="gimme-some-room"></div>
          

    </section>

    <section class="section section-variant-1 bg-default">
{{> fight-back}}
{{> wave}}


    </section>

    <section  class="section text-center section-lg bg-gradient bg-secondary-2">
{{> wave}}
      {{> squeeze}}


    </section>

   {{> popup-subscribe}}

    <!-- latest news-->
    <section data-wow-delay=".2s" class="wow fadeIn section section-lg bg-default text-center">
    {{> wave}}

<div class="container-wide">
    <div class="row">
        <div class="col-sm-12">
            <h3>thoughts & resources</h3>
            <div class="divider house-gradient house-divider"></div>
            <div class="row row-50">
     {{#get "posts" limit="5" filter="page:false" include="tags"}}
                {{#foreach posts}}
                                <div class="col-md-4 col-xl-4">
                {{> "post-card"}}
                </div>
                {{/foreach}}
                        {{/get}}
             
            </div>
        </div>
    </div><a class="button button-default button-nina" href="{{@site.url}}/blog">view all blog posts</a>
</div>
    </section>
{{#page}}
{{/page}}
