{{!< default}} 
{{#post}} 
<!-- Single Post Wrapper -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h1>{{title}}</h1>
                  
                </div>
            </div>
    
    <div class="single-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="sb-content-wrap blog-single-2">
                        <div class="single-post-content">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Single post Wrapper -->
{{/post}}

{{!-- suscribe --}}
{{> "subscribe-section"}}