{{!< default}} 
{{#post}} 
<!-- Single Post Wrapper -->
<div class="single-blog-sec">
   
    <div class="single-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="sb-content-wrap blog-single-2">
                        <div class="single-post-content">
    
                                                <h1>Contact Us</h1>

							<h2 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }'>Ready to Tame Your Marketing Monsters?</h2>																

						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
		

				</div><!-- /.titlebar-container -->
				
			</div><!-- /.titlebar-inner -->
			
		</div><!-- /.titlebar -->


		<main id="content" class="content py-0">

			<article class="blog-single scheme-light liquid-blog-scheme-light bg-dark">
				
				<div class="container">
			

							<div class="blog-single-content entry-content expanded pb-8 bg-dark">
	<section class="vc_row pt-60 pb-60 bg-dark text-white">
				<div class="container bg-dark">
					<div class="row">

						<div class="lqd-column col-md-6 text-white">

							<header class="text-white fancy-title">
                                <p class="text-white text-center"><picture>
  <source srcset="{{asset "img/formerlywooden.webp"}}" type="image/webp">
  <img width="300" align="center" class="img-fluid img-center my-auto" src="{{asset "img/formerlywooden.png"}}" alt="OAKwave marketing strategy">
</picture>	</p>
								
								<p class="text-white mt-0">We are located in the better half of our namesake, <br />
                                the City of Oaks, Raleigh, NC.</p>
                                <h4 class="text-white pl-5">We <img width="65" style="width: 65px" src="{{asset "img/heart.svg"}}"/> Raleigh!</h4>
<p class="text-white"><i class="fad fa-map-marker-smile"></i>&nbsp; 10324-Suite B Baileywick Road <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Raleigh, NC 27613</p>
<p  class="text-white"><i class="fad fa-phone"></i> &nbsp; 919.823.4333</p>
<p  class="text-white"><i class="fad fa-envelope-open-text"></i> &nbsp; hello@oakwave.com</p>
<span class="purple" style="color: #6c5ba7 !important;">{{> "brand/social-icons"}}</span>
</p>
							</header><!-- /.fancy-title -->

					</div>
								<div class="lqd-column col-md-6 text-white"><div class="neumorphic">

							<div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/1yq98v6TP6gADuI8HH8xmCsXzjZzL4SPZD4Oq8US2hxLNN9hBMQYtpKWAGIBw7ald"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
								</div><!-- /.lqd-column col-md-9 -->
							</div><!-- /.row -->

						</div><!-- /.lqd-column col-md-6 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Single post Wrapper -->
{{/post}}
