{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<!-- Sidebar -->

      {{> sidebar-home }}

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Intro -->
                    <section id="intro" class="wrapper style1 fullscreen fade-up"> 
                        <div class="inner">
                            <h1 class="xxl">Hi.</h1>
                            <p class="xl">We need to talk.</p>
                            <p class="xl"> It's about your <span class="highlight">marketing</span>.</p>
                           <!--<p class="">...What about it?</p>-->
                         <ul class="actions">
                                <li><a href="#who" class="button scrolly">What about it?</a></li>
                            </ul>
                           <!-- <div class="bodyofcontainer"><div class='container'>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
</div>
</div>-->
                        </div>
                    </section>
<section id="gradient-section" class="wrapper style4 spotlights">
                <!-- who -->
            
                      <section id="who">
                            <a href="#" class="image"><img src="{{asset 'images/kickassandchewbubblegumandimalloutofbubblegum.svg'}}" alt="" data-position="center center" /></a>
                            <div class="content">
                                <div class="inner">
                                    <h2>You're cautious.  And rightfully so.</h2>
                                    <p>It's rough out there.  Agencies promise the world and deliver with expensive retainers and broken dreams.</p>
                                    <p><span class="highlight">Marketing doesn't have to be that hard</span>.</p>
                                    <p>We're not like those other agencies.</p>
                                    <ul class="actions">
                                        <li><a href="#who2" class="button">Yeah, so?</a></li>

                                    </ul>
                                </div>
                            </div>
                    </section>
                        <section id="who2">
                            <a href="#" class="image"><img src="{{asset 'images/badnews.svg'}}" alt="" data-position="top center" /></a>
                            <div class="content">
                                <div class="inner">
                                    <h2>Those marketing people you've been hanging around are bad news.</h2>
                                    <p>We toiled at bad agencies and we worked with bad marketers.  We even wrote a book on Bad Marketing. We got sick of everyone destroying the industries we love, strategy and marketing, so we started a marketing lab and idea tank focused on one thing: 
                                       <br /> <br /><span class="highlight">Doing what we love for companies that need what we do.</span>. <br /><br />Simple, really.</p>
                                   <!-- <ul class="actions">
                                        <li><a href="#" class="button">Are we there yet?</a></li>
                                    </ul>-->
                                     <ul class="actions">
                                        <li><a href="#who3" class="button">Why should I care?</a></li>

                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section id="who3">
                            <a href="#" class="image"><img src="{{asset 'images/samaurai.svg'}}" alt="" data-position="25% 25%" /></a>
                            <div class="content">
                                <div class="inner">
                                    <h2>You're ready to fight back.</h2>
                                   <p> Because you deserve more. <span style="highlight">Your business deserves more. </span>  </p>
                                    <p>You need a different style of attack.  <span class="highlight">Something <em>actually</em> different.</span><br />
                                    <p>You need a smart resource to call upon that will fight for your growth with all the passion, investment, and enthusiasm that you have.</span></p>
                                    <ul class="actions">
                                        <li><a href="#what" class="button">What can you do for me?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
</section>

                <!-- Two -->
                    <section id="what" class="wrapper style2 fade-up">
                        <div class="inner">
                            <h2>What we do</h2>
                            <p>We provide organizations with marketing strategy, branding, creative, and campaign services.  We're an idea tank, strategy Swiss Army knife, and marketing secret weapon.</p>
                            <div class="features">
                                <section>
                                    <span class="icon solid major fa-binoculars"></span>
                                    <h3>On-Demand CMO-As-A-Service</h3>
                                    <p>All the services of a Chief Marketing Officer, without the huge salary or commitment.</p>
                                </section>
                                <section>
                                    <span class="icon solid major fa-route"></span>
                                    <h3>Marketing Strategy</h3>
                                    <p>The most soup-to-nuts, innovative, custom-fit marketing strategy in the industry.  Our flagship product that simply cannot be beat.</p>
                                </section>
                                <section>
                                    <span class="icon solid major fa-mountain"></span>
                                    <h3>Marketing Campaign</h3>
                                    <p>The heavy-hitting idea, visuals, and plan you need to usher in your business's next evolution.</p>
                                </section>
                                <section>
                                    <span class="icon solid major fa-paint-brush"></span>
                                    <h3>Brand Design/Redesign</h3>
                                    <p>From the ground floor on up, we birth brands everyday--whether visual, textual, or otherwise.</p>
                                </section>
                                <section>
                                    <span class="icon solid major fa-pen-alt"></span>
                                    <h3>Content Crafting and Tuning</h3>
                                    <p>Our content hits hard and packs a loud punch.  We provide our clients with everything from slogans to website rewrites. </p>
                                </section>
                                <section>
                                    <span class="icon major fa-lightbulb"></span>
                                    <h3>Creative Services</h3>
                                    <p>Has your team's creative juices run dry?  In need of some killer design work or just a really, really good idea?  We got you covered.</p>
                               </section>
                            </div>
                      <ul class="actions">
                                <li><a href="https://meetings.hubspot.com/oakwave/consultation" class="button">Let's figure it out.</a></li>
                            </ul> 
                        </div>
                    </section>
                    {{!-- Posts --}}
               

        

               <!-- Three -->
                    <section id="contact" class="wrapper style3-alt fade-down">
                        <div class="inner">
                            <h2>Contact</h2>
                           <p>  <a href="https://meetings.hubspot.com/oakwave/consultation"> You can schedule a consultation with Nicole by clicking here.</a></p>
                            <div class="split style1">
                                <section>
                                    <!--<form method="post" action="#">
                                        <div class="fields">
                                            <div class="field half">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="name" />
                                            </div>
                                            <div class="field half">
                                                <label for="email">Email</label>
                                                <input type="text" name="email" id="email" />
                                            </div>
                                            <div class="field">
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <ul class="actions">
                                            <li><a href="#" class="button submit">Send Message</a></li>
                                        </ul>
                                    </form>-->
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6942704",
	formId: "3db4f5fb-fd5d-49c1-a348-106ce1fe0400"
});
</script>
                              
                                </section>
                                <section>
                                    <ul class="contact">
                                        <li>
                                            <h3>Address</h3>
                                            <span>10324 Baileywick Rd
                                                <br />Suite B<br />

                                            Raleigh, NC 27613<br />
                                       </span>
                                        </li>
                                        <li>
                                            <h3>Email</h3>
                                            <a href="mailto:hello@oakwave.com">hello@oakwave.com</a>
                                        </li>
                                        <li>
                                            <h3>Phone</h3>
                                            <span>(919) 823-4333</span>
                                        </li>
                                        <li>
                                            <h3>Social</h3>
                                            <ul class="icons">
                                                <li><a href="https://www.twitter.com/oakwaveco" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                                <li><a href="https://www.facebook.com/oakwaveco" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                                <li><a href="https://www.linkedin.com/oakwave" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
 <section id="blog" class="wrapper style2 posts fade-up">
                             <div class="inner">
                              {{> recent-posts-home }}
                              </div></section>
            </div>


 

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

</script>
{{/contentFor}}
