{{!< default}}
      {{> sidebar-post }}

                        
                        {{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!-- The big featured header, it uses blog cover image as a BG if available --}}
	<div id="wrapper">

				<!-- Main -->
				
							{{#post}}	<section id="main" class="wrapper style2">
						<div class="inner">

                                    <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">


							<h1 class="major">{{title}}</h1>   
                            
                               
    {{content}}   
							</div>
				</article>	</section>
                      {{/post}}   
		 {{> recent-posts }}
			</div>


	

{{!-- Everything inside the #post tags pulls data from the post --}}
		
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function() {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}</div>