{{!< default}}
 
     <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-default">
{{> navigation}}        
</div>


 
    {{> leaf-parallax-crumbs}}
                  
    </header>

    <section class="section section-lg bg-default text-center">
    <div class="fullwidth-page-inner">
      <div class="section-md text-center">
        <div class="container">
          <h3>Talk to you soon!</h3>
          <div class="row justify-content-sm-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
              <p>You will receive a meeting invite momentarily. Thank you for scheduling meeting. We look forward to chatting.</p>
              <figure class="kg-card kg-image-card"><img width="70%" src="http://www.oakwave.com/content/images/2020/02/dancing.svg"
                  class="kg-image"></figure><iframe
                src="https://app.prospect.io/companies/d7e51de5-d5cd-40cd-a483-a0f05a479f28/tracker" width="0" height="0"
                style="display:none;"></iframe>
                
            </div>
          </div>
        </div>
      </div>


           
            
             
             
       
           
          </article>
         </div></section>
         
  
  
  

{{#contentFor "page-title"}}
Schedule a Consultation (free, of course) | OAKwave - Sales and Marketing Strategy
{{/contentFor}}

