
::selection {
    background-color: rgba(137, 139, 145, 0.7);
}

a.logolink {
    border: none !important; 
     
}
.whitish {
    color: #fff !important;
}
*, body { 
    font-family: 'gilroy-light', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "gilroy-extrabold", sans-serif;
}

.lm-btn {
    display: inline-block;
    font-family: "gilroy-extrabold", sans-serif;
    font-size: 1.45rem;
    color: #fff;
    padding: 1.3rem 2.1rem;
    border-radius: 10rem;
    -webkit-box-shadow: inset 0 0 0 0.25rem #fff;
    box-shadow: inset 0 0 0 0.25rem #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
small {
    font-size: 12pt;
}

.lm-btn:hover, .lm-btn:focus {
    color: #272B2C;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 3.25rem #fff;
    box-shadow: inset 0 0 0 3.25rem #fff;
}

a.logolink {
    text-decoration: none;
    border-bottom: none !important;
}
.lm-btn.primary {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 0.28rem #7254C9;
    box-shadow: inset 0 0 0 0.28rem #7254C9;
}

.lm-btn.primary:hover, .lm-btn.primary:focus {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 3.25rem #7254C9;
    box-shadow: inset 0 0 0 3.25rem #7254C9;
}

.lm-btn.black {
    color: #232931;
    -webkit-box-shadow: inset 0 0 0 0.28rem #232931;
    box-shadow: inset 0 0 0 0.28rem #232931;
}

.lm-btn.black:hover, .lm-btn.black:focus {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 3.25rem #232931;
    box-shadow: inset 0 0 0 3.25rem #232931;
}

.lm-btn.ex-padding {
    padding: 1.3rem 3.7rem;
}

.btn-link {
    position: relative;
    display: inline-block;
    font-family: "gilroy-extrabold", sans-serif;
    font-size: 18px;
    color: #272B2C;
}

.btn-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #7254C9;
    left: 0;
    bottom: -6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
    color: #272B2C;
}

.btn-link:hover:before, .btn-link:focus:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-small {
font-size: 0.75rem !important;
}
.fab {
    padding: 3px;
    color: #fff;

}

.default-content .btn-link {
    color: #fff;
}
small {
    font-size: 12pt;
}

.lm-btn {
    display: inline-block;
    font-family: "gilroy-extrabold", sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.45rem;
    color: #fff;
    border-radius: 10rem;
    -webkit-box-shadow: inset 0 0 0 0.25rem #fff;
    box-shadow: inset 0 0 0 0.25rem #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.lm-btn:hover, .lm-btn:focus {
    color: #272B2C;
    text-decoration: none;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 3.25rem #fff;
    box-shadow: inset 0 0 0 3.25rem #fff;
}

.lm-btn.primary {
    color: #7254c9;
    -webkit-box-shadow: inset 0 0 0 0.28rem #7254c9;
    box-shadow: inset 0 0 0 0.28rem #7254c9;
}

.circlemesilly {
    -webkit-transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    border: solid 1px;
    color: #7254C9;
    text-decoration: none;
    border-radius: 10rem;
    padding-left: 25px;
    padding-right: 25px;
}
.lm-btn.primary:hover, .lm-btn.primary:focus {
    color: #272B2C !important;
    -webkit-box-shadow: inset 0 0 0 3.25rem #7254c9;
    box-shadow: inset 0 0 0 3.25rem #7254c9;
}

.lm-btn.black {
    color: #272B2C;
    -webkit-box-shadow: inset 0 0 0 0.28rem #000;
    box-shadow: inset 0 0 0 0.28rem #000;
}

.lm-btn.black:hover, .lm-btn.black:focus {
    color: #272B2C !important;
    -webkit-box-shadow: inset 0 0 0 3.25rem #000;
    box-shadow: inset 0 0 0 3.25rem #000;
}

.lm-btn.ex-padding {
    padding: 1.3rem 3.7rem;
}

.btn-link {
    position: relative;
    display: inline-block;
    font-family: "gilroy-extrabold", sans-serif;
    font-size: 18px;
    color: #7254c9;
}

.btn-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #7254c9;
    left: 0;
    bottom: -6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
    color: #fff !important;
}
.sidelogo {
    max-width: 100%;
}
#header .icons  {
    text-align: center !important;
}
#menu>ul>li {
    border-top: none;
}
#menu ul li {
    text-align:center !important;
}
#sidebar h2 {
    font-size: 1.38889em;
    text-align: center;
}
.gimmesomeroom {
    padding-top: 1rem;
}
#sidebar h3 {
    color: #fff;
    text-align: left;
}

#menu ul a, #menu ul span {
    border-bottom: 0;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    padding: 0.625em 0;
    color: #fff !important;
}

.btn-link:hover:before, .btn-link:focus:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.fab {
    padding: 3px;
    color: #fff;}
