<div class="post-box">
                <div class="text-holder">
                    <a href="post.html" class="title">is responsive still effective?</a>
                    <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
                </div>
                <div class="img-holder">
                    <img src="images/post4.png" alt="">
                </div>
            </div>