<nav class="container-fluid cnav">
    <div class="logo-bg"></div>
    <div class="row">
        <div class="col">
            <div class="logo-holder">
                <a href="{{@site.url}}"><img class="logo" width="200" src="{{asset "images/logo-stacked-white.svg"}}" alt="OAKwave Marketing Strategy and Sales"></a>
            </div>
            <div class="social-media">
                                   <div class="social-link-holder"><span class="fab fa fa-linkedin"></span><a href="https://linkedin.com/company/oakwave"></a></div>
                    <div class="social-link-holder"><span class="fab fa fa-facebook"></span><a href="https://www.facebook.com/oakwaveco"></a></div>
                    <div class="social-link-holder"><span class="fab fa fa-instagram"></span><a href="https://www.instagram.com/oakwaveco"></a></div>    
                
            </div>
        </div>
    </div>
</nav>