<div class="container-fluid sm-about">
    <div class="row">
        <div class="col">
            <div class="sm-text">Design is our lemon juice</div>
            <div class="md-text">we’re creatives that have enthusiasm towards helping corporations, to enhance their brand and to reach their potential clients</div>
            <div class="link-holder">
                <a class="btn-link" href="about.html">More about us</a>
            </div>
        </div>
    </div>
</div>