<div class="container-fluid features">
    <div class="row">
        <div class="col">
            <div class="row-title">Our pack of capabilities</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-graphic-design"></i></div>
                <div class="title">Branding &<br>Logo design</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-computer"></i></div>
                <div class="title">UI/UX Design</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-keyboard"></i></div>
                <div class="title">Development<br>& Mobile Apps.</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-hosting"></i></div>
                <div class="title">Web Hosting</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-brainstorm"></i></div>
                <div class="title">Brand Discovery</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-stationery"></i></div>
                <div class="title">Print Design</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-ink"></i></div>
                <div class="title">Copywriting</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><i class="lmn lmn-research"></i></div>
                <div class="title">SEO Services</div>
            </div>
        </div>
    </div>
</div>