<div class="container-fluid other-info">
    <div class="row">
        <div class="col">
            <div class="row-title">Our secret sauce</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Discovery</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Planning</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Prototype</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Design</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Development</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <div class="title">Delivery</div>
                <div class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</div>
            </div>
        </div>
    </div>
</div>