@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'fontawesome-all.min.css';
@import url("https://use.typekit.net/iuo7tvu.css");



.flex { /*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  
  .waves {
	position:relative;
	width: 100%;
	height:15vh;
	margin-bottom:-7px; /*Fix for safari gap*/
	min-height:100px;
	max-height:150px;
  }
  
  .content {
	position:relative;
	height:20vh;
	text-align:center;
	background-color: #ffffff;
  }
  
  /* Animation */
  
  .parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
  }
  @keyframes move-forever {
	0% {
	 transform: translate3d(-90px,0,0);
	}
	100% { 
	  transform: translate3d(85px,0,0);
	}
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
	.waves {
	  height:40px;
	  min-height:40px;
	}

// Breakpoints.
// Breakpoints.

@include breakpoints((
	xlarge:   ( 1281px,  1680px ),
	large:    ( 981px,   1280px ),
	medium:   ( 737px,   980px  ),
	small:    ( 481px,   736px  ),
	xsmall:   ( 361px,   480px  ),
	xxsmall:  ( null,    360px  )
));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/contact';
	@import 'components/pagination';
	@import 'components/table';
	@import 'components/button';
	@import 'components/features';

// Layout.

	@import 'layout/header';
	@import 'layout/menu';
	@import 'layout/banner';
	@import 'layout/wrapper';
	@import 'layout/footer';
}